
body{
  background-color: #000f41;
  color: #666;
}
.content {
	/*display:flex;*/
	height: 100vh;
	background-color: #fff;
	margin:0 80px;
}
#intro {
	margin: 0;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px;
}

.content>#intro>#navbar {
	float:right;
	list-style-type: none;
}
#navbar .list-inline>li {
	font-family: 'Roboto Condensed';
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	background-color: #374574;
	opacity: 0.5;
	border-radius: 8px;
    padding: 8px 40px;
	margin: 0;
}
#navbar li a {
	display:block;
}
.categories {
	width:100%;
}
h1{
  font-family: 'Vast Shadow', cursive;
  color: #323232;
  font-size: 32px;
}
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #666;
  font-size: 22px;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  color: #666;
  font-size: 16px;
}

a {
  color: #000f42;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #10266d;
  text-decoration: none;
}
.col1, .col2, .col3 {
    text-align: center;
    width: 25%;
    float: left;
    margin: 88px 42px;
}
img {
	border-radius: 50%;
}
.footer li {
  list-style-type: none;
}
.footer a:hover {
  color: white;
}
.footer {
	background-color:#fff;
	text-align:right;margin: 0 80px;
	padding-right:10px
}
.fa {
	width:150%;
	padding: 0 0 10px 0;
}